<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="Aplicación web para el registro de votos">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/myStyle.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.1/font/bootstrap-icons.css">
    <title>Curso</title>
</head>


<head>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="#">VotaApp</a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Votar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Estadisticas</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="content-header">
        <div class="titulo">
            <h1>Elecciones 2022</h1>
        </div>

        <!--<div class="search">
            <input type="text" placeholder="Buscar Candidato" />
            <button class="button-search">
                <div class="button-content">
                    BUSCAR
                    <img th:src="@{/img/lupa.jpg}" alt="" />
                </div>
            </button>
        </div>-->
        <form class="d-flex  container-fluid w-25 pt-3 pb-3" role="search"   >
            <input class="form-control me-2" type="search" placeholder="Buscar Candidato" aria-label="Buscar Candidato">
            <button class="btn " style="background-color: #e3f2fd;" type="submit"><i class="bi bi-search"></i></button>
        </form>

    </header>
</head>

<body>
    <div class="candidatos py-3">
        <h2 class="descripcion">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam beatae molestias
            repellat ab ducimus aperiam
            dicta ex mollitia cupiditate debitis, perspiciatis aliquam, asperiores rem? Recusandae nisi dolor nihil
            mollitia illum?</h2>
        <div class="candidato">
            <img th:src="@{/img/gyr.jpg}" alt="" />
            <div class="candidato-details">
                <h2>Juanito</h2>
                <h3 class="partido-title">Partido cascos</h3>
                <h4>Tiene mala cara, pero necesitamos a alguien que govierne no que sea bonito. voten por él, es buena
                    vaca</h4>
                <button type="button" class="btn btn-primary">Votar</button>
                <button type="button" class="btn btn-secondary">Info</button>

            </div>
        </div>
        <div class="candidato">
            <img th:src="@{/img/nelore.jpg}" alt="" />
            <div class="candidato-details">
                <h2>Nelore</h2>
                <h3 class="partido-title">casco firme</h3>
                <h4>Conocido como la vaca más mala del viejo oeste, care vaca esta preparada para manejar todo un país
                    con una pata fuerte</h4>
                <button type="button" class="btn btn-primary">Votar</button>
                <button type="button" class="btn btn-secondary">Info</button>

            </div>
        </div>
        <div class="candidato">
            <img th:src="@{/img/brahaman.jpg}" alt="" />
            <div class="candidato-details">
                <h2>Juanito</h2>
                <h3 class="partido-title">Partido cascos</h3>
                <h4>Tiene mala cara, pero necesitamos a alguien que govierne no que sea bonito. voten por él, es buena
                    vaca</h4>
                <button type="button" class="btn btn-primary">Votar</button>
                <button type="button" class="btn btn-secondary">Info</button>

            </div>
        </div>
        <div class="candidato">
            <img th:src="@{/img/holstein.jpg}" alt="" />
            <div class="candidato-details">
                <h2>Nelore</h2>
                <h3 class="partido-title">casco firme</h3>
                <h4>Conocido como la vaca más mala del viejo oeste, care vaca esta preparada para manejar todo un país
                    con una pata fuerte</h4>
                <button type="button" class="btn btn-primary">Votar</button>
                <button type="button" class="btn btn-secondary">Info</button>

            </div>
        </div>
    </div>
</body>
<!--
    <div class="content">
    <div class="content-header">
        <div class="titulo">
            <h1>Elecciones 2022</h1>
        </div>
        <div class="search">
            <input type="text" placeholder="Buscar Candidato" />
            <button class="button-search">
                <div class="button-content">
                    BUSCAR
                    <img src="" alt="" />
                </div>
            </button>
        </div>
    </div>
    <div class="content-main">

        <div class="candidatos">
            <div class="candidato">
                <img th:src="@{/img/gyr.jpg}" alt="" />
                <div class="candidato-details">
                    <h2>Juanito</h2>
                    <h3 class="partido-title">Partido cascos</h3>
                </div>
            </div>
            <div class="candidato">
                <img th:src="@{/img/brahaman.jpg}" alt="" />
                <div class="candidato-details">
                    <h2>Carlos</h2>
                    <h3 class="partido-title">Partido pasto</h3>
                </div>

            </div>
            
            <div class="candidato">
                <img th:src="@{/img/holstein.jpg}" alt="" />
                <div class="candidato-details">
                    <h2>manchas</h2>
                    <h3 class="partido-title">Partido manchas negras</h3>
                </div>

            </div>

            <div class="candidato">
                <img th:src="@{/img/nelore.jpg}" alt="" />
                <div class="candidato-details">
                    <h2>Cachos</h2>
                    <h3 class="partido-title">Partido bravo</h3>
                </div>

            </div>

            </div>

        </div>

    </div>
    </div>
!-->

</html>