<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="Aplicación web para el registro de votos">
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/myStyle.css}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.1/font/bootstrap-icons.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<title>VotaApp</title>
	<script type="text/javascript" th:src="@{/js/myScript.js}"></script>
</head>

<body>
	<header id="cabeza">
		<h1 class="text-white text-center my-4  px-5">Elecciones de Camara y Senado 2022 Colombia</h1>
		<img th:src="@{/img/logovotaap.jpg}" style="display: block; width: 20%; margin: auto; border-radius: 5%;">
	</header>

	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div th:if=${param.exito}>
					<div class="alert alert-info">Se ha registrado exitosamente a la aplicación</div>
				</div>
				<h1 style="color: white;">Registro de usuario</h1>
				<form method="post" th:action="@{/registro}" th:object="${votante}">

					<div class="text-white my-4  px-5">
						<label for="identificacion">Identificación</label>
						<input type="number" class="form-control" id="identificacion" th:field="*{identificacion}"
							placeholder="Identificación">
					</div>
					<div class="text-white my-4  px-5">
						<label for="nombres">Nombre</label>
						<input type="text" class="form-control" id="nombres" th:field="*{nombres}"
							placeholder="Nombres">
					</div>
					<div class="text-white my-4  px-5">
						<label for="clave">Contraseña</label>
						<input type="password" class="form-control" id="clave" th:field="*{clave}"
							placeholder="Contraseña">
					</div>
					<div class="text-white my-4  px-5">
						<label for="telefono">Teléfono</label>
						<input type="number" class="form-control" id="telefono" th:field="*{telefono}"
							placeholder="Teléfono">
					</div>
					<div class="text-white my-4  px-5">
						<label for="correo">Correo</label>
						<input type="email" class="form-control" id="correo" th:field="*{correo}" placeholder="Correo">
					</div>
					<div class="text-white my-4  px-5">
						<button type="submit" class="btn btn-primary my-4  px-5">Registrarse</button>
						<span>Si estas registrado <a style="color: white;" th:href="@{/votapp}"> Inicia sección aquí</a></span>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
		integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
		crossorigin="anonymous"></script>

</body>

</html>